<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="row features-small mt-5 ">
      <div class="col-3"><ion-title>
        Facturas
      </ion-title></div>
    </div>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" color="vibrant" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="spin" *ngIf="this.dataService.spinnerbool">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="!this.dataService.spinnerbool">
    <br>
    <ion-card>
      <div class="container"  >
        <br>
        <div class="cell-top" style="text-align: center;" color="light"><ion-text color="light"><h3>Fecha</h3></ion-text></div>
        <div class="cell-top" style="text-align: center;" color="light"><ion-text color="light"><h3>Generar PDF</h3></ion-text></div>

        <div *ngFor="let item of data; let i = index" >
          <br><br>

           <div class="cell" style="text-align: center; "><br><ion-text color="light"><p class="vertical-align-content"></p>{{item.date}}</ion-text><br></div>
           <div class="cell" style="text-align: center;"><br><ion-button color="primary" (click)='generateInvoice(item.date)'><ion-icon name="download-outline"></ion-icon></ion-button><br></div>
        </div>
      </div>
    </ion-card>



  </div>


</ion-content>
