<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="assets\icon\SinLimites.png">
        <h1>App Imagine</h1>
        <p>¡Aqui podrás monitorear tu consumo y ver tus facturas!</p>
         <!--<ion-button (click)="next()" fill="outline" color="vibrant">Siguiente</ion-button>-->
         <ion-button (click)="start()" fill="outline" color="light">Comenzar</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2
    <ion-slide>
      <ion-text color="vibrant">
        <ion-button (click)="start()" fill="outline" color="vibrant">Comenzar</ion-button>
      </ion-text>
    </ion-slide>-->

  </ion-slides>
</ion-content>
