ion-content {
  --background: #ffffff;
}

ion-slides {
  height: 100%;
  --bullet-background-active: #fff;
  --bullet-background: #000;
}
.ion-color-vibrant {
  --ion-color-base: #12236A;
  --ion-color-base-rgb: 255,255,0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #12236A;
  --ion-color-tint: #12236A;
}
.ion-color-black {
  --ion-color-base: #000000;
  --ion-color-base-rgb: 0,0,0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #000000;
  --ion-color-tint: #000000;
}
.p{
  color:#000;
}